click==7.1.2
coloredlogs==14.0
colormath==3.0.0
cycler==0.10.0
decorator==4.4.2
future==0.18.2
humanfriendly==8.2
jinja2==2.11.3
kiwisolver==1.1.0
lzstring==1.0.4
markdown==3.1.1
matplotlib==2.2.5
multiqc
networkx==2.2
numpy==1.16.6
pyparsing==2.4.7
pytz==2020.1
setuptools==49.6.0
simplejson==3.17.2
spectra==0.0.11